
@{
    ViewBag.Title = "DetailMenuItem";
    Layout = "~/Areas/User/Views/Shared/_Layout.cshtml";
}
<section>
    <!-- Single Product Start -->
    <div class="container-fluid py-5 mt-5">
        <div class="container py-5">
            <div class="row g-4 mb-5">
                <div class="col-lg-8 col-xl-9">
                    <div class="row g-4">
                        <div class="col-lg-6">
                            <div class="border rounded">
                                <a href="#">
                                    <img src="img/single-item.jpg" class="img-fluid rounded" alt="Image">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

